{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<head>
    <style>
        .heart {
            width: 20px;
            height: 20px;
        }
    </style>
</head>
<script type="text/javascript">
    function post_like(p_id){
        $.ajax({
            type: "GET",
            url: "{% url 'todo:post_likes' %}",
            data: {
                'blog_id':p_id
            },
            dataType: 'json',
            success: function(response){
                $('#like_count'+p_id).html(response.like_count)
                    if(response.message == "좋아요"){
                        $('#heart'+p_id).attr("src", "{%static 'heart.svg' %}")
                    } else if (response.message == "좋아요 취소") {
                        $('#heart'+p_id).attr("src", "{%static 'empty_heart.svg' %}")
                    }
            },
            // error:function(request,status,error){
            //     alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
            // }

        })
    }

</script>


<h1>To Do List</h1>
<form class="form-inline my-2 my-lg-0" action="{% url 'todo:search' %}" method="get">
    <select name="q" value="{{q}}" style="height:36px;">
        {% for user in users %}
        <option value="{{user}}" selected>{{user}}</option>
        {% endfor %}
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    <a href="?q={{request.user}}">내꺼보기</a><br>
</form><br><br>
<table>
    <tr>
        <th>오늘 할 일</th>
        <th></th>
        <th></th>
    </tr>
    <div class="makenew_todo">
        <a href="{% url 'todo:new' %}" id="go_new">새로운 계획 추가</a>
    </div>

    {% for content in posts %}
    <tr>
        <td>{{content.title}}</td>
        <td><a href="{% url 'todo:edit' content.id %}">계획 수정하기</td>
        <td><a href="{% url 'todo:delete' content.id %}">계획 삭제하기</td>
        <!--
        <td>{{content.author}}</td>
        <td>{{content.created | date:"Y-m-d"}}</td> -->
        {%if content.isCompleted %}
        <td><a href="{%url 'todo:complete' content.id %}">완료했음</a></td>
        {%else%}
        <td><a href="{%url 'todo:complete' content.id %}">완료안했음</a></td>
        {%endif%}
        <td>
            <div class="like-box">
                {%if user.is_authenticated %}
                <button id="{{content.id}}" onclick="post_like(this.id)">
                    {%if request.user in content.like.all%}
                    <img class="heart" id="heart{{content.id}}" src="{% static 'heart.svg' %}" alt="full_heart">
                    {%else%}
                    <img class="heart" id="heart{{content.id}}" src="{% static 'empty_heart.svg' %}" alt="empty_heart">
                    {%endif%}
                </button>
                {%else%}
                <button id="{{content.id}}" onclick="alert('로그인이 필요합니다')">
                    <img class="heart" id="heart" src="{% static 'empty_heart.svg' %}" alt="empty_heart">
                </button>
                {%endif%}
                <span id="like_count{{content.id}}">{{content.like.count}}</span>
            </div>
        </td>
    </tr>
    
    <!-- 만약 할 일이 없을 때 뜨는 값 (empty)-->
    {% empty %} 
    <h3>계획을 만들어주세요.</h3>

    {% endfor %}

</table>

{% endblock %}