{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<head>
    <Style>
        .confirm_btn {
            margin-left: 2px;
            color: black;
            text-decoration: none;
            padding: 8px;
            background-color: rgb(160, 210, 252);
        }
    </Style>
</head>

<body>

    {% if user.is_authenticated %}
    
    <h1>새로운 일정 추가하기</h1>
    
    <form id="write_form" action="{% url 'todo:new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy}}
        <button id="submit_btn" type="submit" class="confirm_btn">확인</button>
    </form>
    
    {% else %}
    <h4>로그인 후 이용하세요.
        <a href="{% url 'todo:home' %}">홈으로</a>
        <br>
    </h4>

    {% endif %}

</body>

{% endblock %}